{% extends 'main.html'%} {% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 0.5fr 3fr;

    }
</style>

<div class="home-container">
  <div>
    <h3>Browse Topics</h3>
    <hr />
    <div>
        <a href="{% url 'home' %}">All</a>
    </div>
    {%for topic in topics%}
<div>
    <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
</div>
    {%endfor%}
  </div>

  <div>
    <h5>{{room_count}} rooms available</h5>

    <a href="{% url 'create-room' %}">Create Room</a>

    <div>
      {%for room in rooms%}
      <small>@{{room.host.username}}</small>
      <h3>{{room.id}} -- <a href="/room/{{room.id}}">{{room.name}}</a></h3>
      <p>{{room.topic}}</p>
      <a href="{% url 'update-room' room.id %}">Edit</a>
      <a href="{% url 'delete-room' room.id %}">Delete</a>

      <hr />
    </div>
      {%endfor%}
  </div>
</div>

{% endblock content %}
